article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS RESET DONE */

body {
    color: #000000;
    margin: 0 auto;
}

.clearfix {
    clear: both;
}

.container {
    width: 66%;
    height: 100%;
    padding: 20px 0 0 4%;
    text-align: justify;
    background-color: #ffffff;
}

h1 {
    margin: 40px 0;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

h2 {
    font-size: 1.5rem;
    color: #000000;
    font-weight: normal;
    text-align: left;
    margin-bottom: 20px;
}

a {
    text-align: left;
    text-decoration: none;
    color: #696969;
    font-size: 1rem;
    margin: 0 10px;
}

p {
    line-height: 32px;
    padding: 0 0 40px 0;
    text-align: justify;
}

/* Button styles */
.btn {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 50px;

    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;

    line-height: 50px;
    padding: 0 30px;
    font-size: 14px;
    font-weight: bold;

    -webkit-box-shadow: 0 3px 0 0 #1275b7;
    box-shadow: 0 3px 0 0 #1275b7;
    background-color: #1e88ce;
}

.btn:active,
.btn.active {
    top: 2px;
    -webkit-box-shadow: 0 1px 0 0 #1275b7;
    box-shadow: 0 1px 0 0 #1275b7;
}

/* Progress Bar */

.content {
    width: 100%;
    float: left;
    margin: 45px 0;
    padding: 0 3% 0 0;
    border-right: 1px solid rgba(255, 255, 255, .4);
}

.progress {
    position: relative;
    float: left;
    text-align: left;
    width: 330px;
    padding: 45px 0 0 2%;
}

.progress .wrapper {
    position: fixed;
    right: 0;
    width: 25vw;
    top: 5rem;
    bottom: 5rem;
    padding: 10px;
    background: #ff6347;
    overflow: scroll;
}

.progress .wrapper h2 {
    color: #ffffff;
}

.progress .bar {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    border-bottom: 1px dashed tomato;
}

.progress .bar span {
    position: absolute;
    display: block;
    top: 40px;
    width: 0;
    z-index: 2;
    border-bottom: 4px solid #cc0b3d;
}

.progress .bar a {
    line-height: 40px;
    position: relative;
    z-index: 1;
}

.progress .bar i {
    position: absolute;
    right: -30px;
    height: 40px;
    line-height: 40px;
    color: #36a7f3;

    -webkit-transition: color .3s;
    transition: color .3s;
}

.footer {
    height: 470px;
    font-size: 28px;
    text-align: center;
    line-height: 470px;
    background-color: #444;
}


  
